name: Main
on: push
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ^1.16
      - name: Test
        run: |
          go mod tidy
          go vet ./...
          go test ./...
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          args: release --rm-dist --release-notes .github/RELEASE_TEMPLATE.md
        env:
          GITHUB_TOKEN: ${{ secrets.BMASTERS_TOKEN }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz
